---
layout: default
---
<div class="container">


  <h1 class="text-primary">DC Running</h1>
  <p>The challenge: run 100km in a month.</p>
  <p>The competitor: Dan.</p>

  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25"
      aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>

  <table class="table table-sm table-hover">
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Time</th>
    </tr>

    {% for post in site.posts %}
    {% if post.categories contains "run" %}
    <tr>
      <td>
        <a href="{{ post.url }}">
          {{ post.date | date: "%a %e %b" }}
        </a>
      </td>
      <td>{{ post.distance }} km</td>
      <td>{{ post.time }}</td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>

</div>