---
layout: default
---
<div class="container">
  <p>
    Hi, I'm Dan. Starting on 19 September 2020, I'm aiming to run 100km in a month. This blog is here to track my
    progress.
  </p>

  <p>
    <a href="/intro/">Read the introduction</a> for more information about what I'm doing and why.
  </p>

  {% include progress.html distance=site.data.progress.distance-run %}

  <dl class="row">
    <dt class="col-sm-4">Distance run</dt>
    <dd class="col-sm-2">{{ site.data.progress.distance-run }} km</dd>
    <dt class="col-sm-4">Distance remaining</dt>
    <dd class="col-sm-2">{{ site.data.progress.target-distance | minus: site.data.progress.distance-run }} km</dd>
  </dl>

  <table class="table table-striped table-sm table-hover">
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Cumulative</th>
    </tr>

    {% assign postsInChronologicalOrder = site.posts | reverse %}
    {% for post in postsInChronologicalOrder %}
    {% if post.categories contains "run" %}
    <tr>
      <td>
        <a href="{{ post.url }}" class="font-weight-bold">
          {{ post.date | date: "%a %e %b" }}
        </a>
      </td>
      <td>{{ post.distance }} km</td>
      <td>{{ post.cumulative-distance }} km</td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>

</div>