---
layout: default
---
<div class="container">

  <h2>Run 30</h2>

  <p>
    My current running challenge is called <em>Run 30</em>.
  </p>

  <p>
    I'm not blogging after every run this time, so there's only <a href="/2021/05/16/run30/">the one post in this series</a>.
  </p>

  <h2>Run 100</h2>

  <p>
    My previous running challenge was called <em>Run 100</em>.
    <a href="/2020/09/18/intro/">Read the introduction</a>, or see below for my results.
  </p>

  {% include progress.html distance=site.data.run100.distance-run target=site.data.run100.target-distance %}

  <dl class="row">
    <dt class="col-sm-4">Distance run</dt>
    <dd class="col-sm-2">{{ site.data.run100.distance-run }} km</dd>
    <dt class="col-sm-4">Distance remaining</dt>
    <dd class="col-sm-2">{{ site.data.run100.target-distance | minus: site.data.run100.distance-run | at_least: 0 }} km
    </dd>
  </dl>

  <table class="table table-striped table-sm table-hover">
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Cumulative</th>
    </tr>

    {% assign postsInChronologicalOrder = site.posts | reverse %}
    {% for post in postsInChronologicalOrder %}
    {% if post.categories contains "run100" %}
    <tr>
      <td>
        <a href="{{ post.url }}" class="font-weight-bold">
          {{ post.date | date: "%a %e %b" }}
        </a>
      </td>
      <td>{{ post.distance }} km</td>
      <td>{{ post.cumulative-distance }} km</td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>

</div>