@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
$font-family-base:Source Sans Pro;
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,700);
$headings-font-family:Oswald;

$primary:#563d7c;
$secondary:#868e96;
$success:#28a745;
$danger:#dc3545;
$info:#17a2b8;
$warning:#ffc107;
$light:#f8f9fa;
$dark:#343434;

$font-size-base: 1.2rem;
