.post img {
  width: 100%;
  clear: both;

  @include media-breakpoint-up(sm) {
    float: right;
    width: 50%;
    margin-left: 6px;
    margin-bottom: 6px;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

.post-title {
  font-weight: bold;
}

.post-date {
  color: $gray-600;
}
