.post img {
  width: 100%;
  clear: both;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    float: right;
    width: 50%;
    margin-left: 1rem;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

.post-date {
  color: $gray-600;
}
